/*

Add styles or override variables from the theme here.

*/

$green: #008000;
$yellow: #FFFF00;

.td-navbar .navbar-brand__name {
  display: none;
}

.td-page-meta--view { display: none !important; }
.td-page-meta--edit { display: none !important; }
.td-page-meta--child { display: none !important; }
.td-page-meta--issue { display: none !important; }
.td-page-meta--project-issue { display: none !important; }

.td-navbar .nav-link img {
  height: 20px;
  vertical-align: middle;
}