+++
title = "rqlite"
linkTitle = "rqlite"
description = "The lightweight, easy-to-use, distributed relational database built on SQLite"
+++
{{< blocks/cover image_anchor="top" height="short" color="primary" >}}
<img src="logo-text-shadow.svg" class="site-logo" />

	<p><h3>The lightweight, user-friendly, distributed relational database built on SQLite.</h3></p>
	<p><h5><i>Fault tolerance and high availability with zero hassle</i></h5></p>


<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/quick-start" >}}">
		Quick start <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://www.rqlite.io/join-slack">
		Join our Slack <i class="fa-brands fa-slack"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://rqlite.io/office-hours">
		Office Hours <i class="fa-solid fa-circle-question"<i class="fa-solid fa-circle-question" style="color: #FFFFFF;"></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<h1 class="text-center">What is rqlite?</h1>
<p>
	<br>
	<b>rqlite</b> is a distributed relational database that combines the simplicity of SQLite with the robustness of a fault-tolerant, highly available system. It's developer-friendly, its operation is straightforward, and it's designed for reliability with minimal complexity.
</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb fa-2xl" title="Simple"%}}
Deploy in seconds, no complex configurations
<br>Easy-to-use HTTP API<br>
Seamlessly integrates with modern cloud infrastructures
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-database fa-2xl" title="Trusted"%}}
Built on SQLite, the world's most popular database<br>
Supports full-text search, Vector Search, and JSON documents<br>
Access controls and encryption for secure deployments
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-circle-nodes fa-2xl" title="Reliable"%}}Rigorous, automated testing ensures high quality<br>
Clustering provides high-availability and fault-tolerance<br>
Automatic node-discovery simplifies clustering
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb fa-2xl" title="Simple"%}}
<i>rqlite allowed us to easily globally distribute our app with a read heavy key value system which can be updated in seconds. I've yet to find a better open source tool for the job - Steven Burgoyne, CTO, Text Groove.</i>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-database fa-2xl" title="Trusted"%}}
<i>Replacing Postgres with rqlite has simplified the software we ship to customers. Its distributed architecture and clustering capabilities have reduced storage complexity, enabling lighter, more supportable Kubernetes clusters - Marc Campbell, CTO, Replicated.</i>
{{% /blocks/feature %}}

{{< /blocks/section >}}

